.form_section {
    background: url('./assets/form_bg_light.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero::before {
    content: '';
    width: 75%;
    height: 85%;
    position: absolute;
    bottom: 60px;
    right: 0;
    background: #ECF0F3;
    z-index: -2;
}

.hero::after {
    /* content: url('./assets/rassNewHero3.png'); */
    content: url('');
    position: absolute;
    left: -25%;
    z-index: -1;
}

.header_girl_new{
    z-index: -1;
    
    /* left: 10%; */
}

.header_girl_new_image{
    background-position: center;
}

.my_section_name::before {
    position: absolute;
    display: none;
    width: 17px;
    top: 50%;
    left: 0;
    height: 1px;
    background-color: #4E0F8A;
    content: '';
    /* margin-right: 40px; */
}

.my_input {
    border: 1px solid rgba(118, 118, 128, 0.07);
    border-radius: 2px;
}

.my_input_invalid {
    border: 1px solid red;
    border-radius: 2px;
}

.my_input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.bank_section_big{
    font-family: 'Inter', sans-serif;
}

.bank_sections_p_font{
    font-family: 'Manrope', sans-serif;
}


.footer {
    background: url('./assets/foot_back_light.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: contain; */
    color: #4f0f8a33;
}

.info::before {
    content: '';
    background: #ECF0F3;
    position: absolute;
    top: 100px;
    right: 0;
    width: 75%;
    height: 500px;
    z-index: -1;
}

.info::after {
    content: url('./assets/boy.png');
    position: absolute;
    bottom: 0;
    right: -100px;
    display: none;
}

.images::before {
    content: '';
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ECF0F3;
    z-index: -1;
}


@media screen and (min-width:414px) {
    .hero::after {
        left: -30%;
        /* bottom: 20%; */
    }

    .header_girl_new{
        left: 10%;
    }

    .images::before {
        width: 80%;
        right: unset;
    }
}

@media screen and (min-width:576px) {
    .hero__block{
        padding-left: 40px;
        padding-right: 40px;
    }

    .hero::after {
        content: url('./assets/rassNewHero3.png');
    }

    .header_girl_new{
        display: none;
        z-index: -1;
    }
}

@media screen and (min-width:600px) {
    .hero::after {
        left: 10%;
    }

    .hero__block{
        padding-left: 42px;
    }
}

@media screen and (min-width:630px) {
    .hero__block{
        padding-left: 57px;
    }
}


@media screen and (min-width:660px) {
    .hero__block{
        padding-left: 72px;
    }
}

@media screen and (min-width:690px) {
    .hero__block{
        padding-left: 87px;
    }
}


@media screen and (min-width:720px) {
    .hero__block{
        padding-left: 102px;
    }
}


@media screen and (min-width:768px) {
    .info__body::before {
        width: 747px;
        height: 105%;
        left: -37px;
        top: -27px;
    }

    .my_section_name::before {
        display: flex;
    }

    .my_section_name>p {
        margin-left: 30px;
    }

    .info::before {
        width: 98%;
        height: 88%;
        top: unset;
        bottom: 0;
        left: 0;
    }

    .hero::after {
        left: 17%;
    }

    .hero__block{
        padding-left: 36px;
    }
}


@media screen and (min-width:780px) {
    .hero__block{
        padding-left: 42px;
    }
}

@media screen and (min-width:820px) {
    .hero__block{
        padding-left: 62px;
    }
}


@media screen and (min-width:860px) {
    .hero__block{
        padding-left: 82px;
    }
}

@media screen and (min-width:900px) {
    .hero__block{
        padding-left: 102px;
    }
}

@media screen and (min-width:950px) {
    .hero__block{
        padding-left: 127px;
    }
}

@media screen and (min-width:980px) {
    .hero__block{
        padding-left: 142px;
    }
}

@media screen and (min-width:992px) {
    .hero__block{
        padding-left: 28px;
    }
}

@media screen and (min-width:1020px) {
    .hero__block{
        padding-left: 42px;
    }
    
    .hero::after {
        left: 30%;
    }
}

@media screen and (min-width:1050px) {
    .hero__block{
        padding-left: 57px;
    }

}

@media screen and (min-width:1100px) {
    .hero__block{
        padding-left: 82px;
    }
}

@media screen and (min-width:1130px) {
    .hero__block{
        padding-left: 97px;
    }
}

@media screen and (min-width:1160px) {
    .hero__block{
        padding-left: 112px;
    }
}

@media screen and (min-width:1185px) {
    .hero__block{
        padding-left: 124px;
    }
}



@media screen and (min-width:1200px) {
    .hero__block{
        padding-left: 30px;
    }
}

@media screen and (min-width:1230px) {
    .hero__block{
        padding-left: 45px;
    }
}


@media screen and (min-width:1260px) {
    .hero__block{
        padding-left: 60px;
    }
}


@media screen and (min-width:1290px) {
    .hero__block{
        padding-left: 75px;
    }
}

@media screen and (min-width:1330px) {
    .hero__block{
        padding-left: 95px;
    }
}

@media screen and (min-width:1360px) {
    .hero__block{
        padding-left: 110px;
    }
}

@media screen and (min-width:1390px) {
    .hero__block{
        padding-left: 125px;
    }
}

@media screen and (min-width:1440px) {
    .hero__block{
        padding-left: 70px;
    }
}

@media screen and (min-width:1024px) {
    .info::before {
        width: 68%;
    }

    .info::after {
        display: inline;
    }
}

@media screen and (min-width:1440px) {
    .hero::after {
        left: 45%;
    }

    .my_section_name::before {
        width: 30px;
        /* display: flex; */
    }

    .my_section_name>p {
        margin-left: 70px;
    }

    .info::before {
        width: 63%;
    }

    .info::after {
        left: 70%;
        right: unset;
    }

    .images::before {
        width: 70%;
    }
}



@media screen and (min-width:2000px) {
    .hero::after {
        left: 45%;
        /* right: 50%; */
    }

    .my_section_name::before {
        width: 30px;
    }

    .my_section_name>p {
        margin-left: 70px;
    }

    .info::before {
        width: 63%;
    }

    .info::after {
        left: unset;
        right: 15%;
    }

    .images::before {
        width: 70%;
    }
}



@media screen and (min-width:2700px) {

    .hero::after {
        left: 50%;
        /* right: 50%; */
    }
    
    .info::after {
        left: unset;
        right: 25%;
    }
}

@media screen and (min-width:4000px) {
    
    .info::after {
        left: unset;
        right: 30%;
    }
}

@media screen and (min-width:5000px) {
    
    .info::after {
        left: unset;
        right: 35%;
    }
}


@media screen and (min-width:920px) {
    .bank_card_7{
        margin-bottom: 100px;
    }

    .bank_card_7_items{
        margin-top: 200px;
    }
}

@media screen and (min-width:990px) {
    .bank_card_7{
        margin-bottom: 120px;
    }
    
    .bank_card_7_items{
        margin-top: 240px;
    }
}

@media screen and (min-width:1024px) {
    .bank_card_7{
        margin-bottom: 300px;
    }

    .bank_card_7_items{
        margin-top: 100px;
    }
}

@media screen and (min-width:1100px) {
    .bank_card_7{
        margin-bottom: 350px;
    }

    .bank_card_7_items{
        margin-top: 80px;
    }
}

@media screen and (min-width:1200px) {
    .bank_card_7{
        margin-bottom: 480px;
    }

    .bank_card_7_items{
        margin-top: 80px;
    }
}

@media screen and (min-width:1440px) {
    .bank_card_7{
        margin-bottom: 350px;
    }
}

@media screen and (min-width:1500px) {
    .bank_card_7{
        margin-bottom: 400px;
    }
}

@media screen and (min-width:1650px) {
    .bank_card_7{
        margin-bottom: 500px;
    }
}

@media screen and (min-width:1700px) {
    .map_image{
        width: 980px!important;
    }
}



 @media screen and (min-width:2000px) {
    .map_image{
        top: -140px;
        left: -150px!important;
    }
}
/*
@media screen and (min-width:3000px) {
    .map_image{
        left: 30%;
    }
} */